<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Xin chào <%= name %>!</h1>

  <ul>
    <% for(let item of items) { %>
      <li><%= item %></li>
    <% } %>
  </ul>
</body>
</html>
