<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/login.css">
    <title>Login User</title>
</head>

<body>
    <h1>Login User</h1>
    <div class="form">
        <form action="" method="post">
            <fieldset>
                <legend>Login User</legend>
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <button>
                        Login
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>