<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/register.css">
    <title>Users Register</title>
</head>

<body>
    <h1>Register Users</h1>
    <div class="form">
        <form action="register" method="post">
            <fieldset>
                <legend>Form Add New Users</legend>
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                </div>
                <div class="input-group">
                    <label for="city">City</label>
                    <input type="text" name="city">
                </div>
                <div>
                    <button>
                        Add Users
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>